@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
body {
  font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

section.container {
  max-width: 60ch;
  margin: auto;
  margin-top: 3rem;
  box-shadow: 0 0 5px 0 gray;
  padding: 1rem;
}

section h1,
section p {
  margin: 0;
  margin-bottom: 0.5rem;
}

section a {
  text-decoration: none;
}

.grid {
  display: grid;
  justify-items: center;
}

form {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}

.form-group {
  display: grid;
  gap: 0.25rem;
}
.form-group label {
  font-weight: bold;
}
.form-group input, .form-group select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
    font-size: 1rem;    
}

.btn.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;

}

.btn.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
}