<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="./Navbar.css" />
    <title>Navbar</title>
  </head>
  <body>
    <nav>
      <div class="nav-brand">
        <a href="/">
          <i class="bi bi-activity"></i>
          StayHealthy
        </a>
      </div>
      <div class="nav-button" onClick="{handleClick}">
        <i class="bi bi-list"></i>
      </div>
      <ul class="nav-links active">
        <li class="link">
          <a href="../Landing_Page/LandingPage.html">Home</a>
        </li>
        <li class="link">
          <a href="#">Appointments</a>
        </li>
        <li class="link">
          <a href="#">Health Blog</a>
        </li>
        <li class="link">
          <a href="#">Reviews</a>
        </li>
        <li class="link">
          <a href="../Sign_Up/Sign_Up.html">
            <button class="btn1">Sign Up</button>
          </a>
        </li>
        <li class="link">
          <a href="../Login/Login.html">
            <button class="btn1">Login</button>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
